body, html {
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(to right, rgb(240, 191, 86), rgb(231, 150, 164));
    width: 240px;
    height: 120px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

h2 {
    margin-bottom: 0px;
}

.icon-container{
    border-radius: 50%;
    height: auto;
    width: 15%;
    background-color: rgb(148, 147, 147);
    margin: 5px auto;
    text-align: center;
}

.green {
    color: rgb(39, 216, 39);
}

.grey {
    color: rgb(161, 161, 161);
}

.navbar {
    display: flex;
    text-align: center;
}

.navbar div {
    transition-property: background-color;
    transition-duration: 0.5s;
}

.navbar div:hover {
    background-color: rgb(192, 192, 192);
}

.navbar i{
    margin: 8px;
}

.single-tab {
    padding: 10px;
    transition-property: background;
    transition-duration: 1s;
}

.single-tab:hover {
    background-image: linear-gradient(to right, rgb(238, 193, 97), rgb(224, 96, 117));
}

.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
